#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    height: 90vh;
    background-color: rgb(64, 190, 233);
}
h2 {
    color: white;
    margin: 0 auto;
}
.messages {
    height: 70vh;
    padding: 10px 0;
    margin: 5px;
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.message {
    border: 1px solid rgb(17, 105, 120);
    border-radius: 15px;
    margin: 5px auto;
    padding: 8px;
    width: 90%;
    text-align: left;
}
.message-currentMember {
    border: 1px solid rgb(17, 105, 120);
    border-radius: 15px;
    margin: 5px auto;
    padding: 8px;
    width: 90%;
    text-align: right;
}
.text {
    color: rgb(0, 0, 0);
}
input {
    padding: 8px;
    font-size: 16px;
    margin: auto;
}
button {
    padding: 8px 16px;
    font-size: 16px;
    margin: auto;
}
