#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    height: 90vh;
    background-color: rgb(64, 190, 233);
}
h1 {
    color: white;
    margin: 0 auto;
}
.messages {
    height: 100vh;
    height: 70vh;
    background-color: rgb(15, 194, 164);
    padding: 10px 0;
    width: 100%;
}
.message {
    background-color: rgb(11, 53, 46);
    margin: auto;
    padding: 5px;
    width: 80%;
    text-align: left;
}
input {
    padding: 10px;
    font-size: 16px;
    margin: auto;
}
