#root {
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    height: 90vh;
    background-color: rgb(64, 190, 233);
}
h2 {
    color: white;
    margin: 0 auto;
}
.messages {
    height: 70vh;
    background-color: rgb(156, 225, 213);
    padding: 10px 0;
    margin: 5px;
}
.message {
    background-color: rgb(201, 197, 250);
    margin: auto;
    padding: 5px;
    width: 90%;
    text-align: left;
}
.message-currentMember {
    background-color: rgb(246, 183, 193);
    margin: auto;
    padding: 5px;
    width: 90%;
    text-align: right;
}
.text {
    color: rgb(0, 0, 0);
}
input {
    padding: 10px;
    font-size: 16px;
    margin: auto;
}
